@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --color-primario:#000000;
    --color-segundario:#F6F6F6;
    --color-terciario:#22D4FD;
    --texto-montserrat:'Montserrat', sans-serif;
    --texto-krona :'Krona One', sans-serif ;
    --rem-hijo : 1.5rem;
    --rem-padre: 2.25rem;
}
* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-segundario);
}


.titulo-destaque {
    color: var(--color-terciario); ;
}

.presentacion {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:86px
}

.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: var(--rem-padre);
    font-family: var(--texto-krona);
}

.presentacion__contenido__texto{
    font-size: var(--rem-hijo);
    font-family: var(--texto-montserrat);
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__link{
 
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: var(--rem-hijo);
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-segundario);
    font-family: var(--texto-montserrat);
    border:2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}
.presentacion_enlace_subtitulo{
    font-family: var(--texto-krona) ;
    font-size: var(--rem-hijo);
    font-weight: 400px;
    
}
.presentacion__enlaces__link:hover{
    background-color: var(--color-primario);
}
.footer{
    background-color: var(--color-terciario);
    padding: 24px;
    color:var(--color-primario);
    text-align: center;
    font-family: var(--texto-montserrat);
    font-size: var(--rem-hijo);
    font-weight: 400px;
}
.header__menu__link{
    font-family: var(--texto-montserrat);
    font-size: var(--rem-hijo);
    font-weight: 600px;
    color:var(--color-terciario);
    text-decoration: none;
}
.header{
    padding: 2% 0% 0% 15%;
}
.header__menu{
    display: flex;
    gap: 80px;
}
.contenido__imagen{
    width: 50%;
}
@media(max-width: 1200px){
    .header{
        padding: 10%;
    }
    .header__menu{
        justify-content: center;
        padding: 5%;
    }
    .presentacion{
        flex-direction: column-reverse;
    }
    .presentacion__contenido{
        width: auto;
    }
}